            <section id="catalog" class="works">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s"><%= @album.title %></h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            Описание альбома
                        </p>
                    </div>
                    <div class="row">
                      <% @images.each do |image| %>
                        <div class="col-sm-3 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <%= image_tag image.image.url, :class => 'img-responsive', :alt => image.description, :title => image.title  %>
                                    <div class="overlay">
                                        <div class="buttons">
                                            <%= link_to "Open", image.image.url, :rel => "gallery", :class => "fancybox"  %>
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                <h4>
                                <a href="#">
                                    <%= image.title %>
                                </a>
                                </h4>
                                <p>
                                    <%= image.description %>
                                </p>
                                </figcaption>
                            </figure>
                        </div>
                      <% end %>
                    </div>
                </div>
            </section> 