            <!--
            ==================================================
            Catalog section
            ================================================== -->
            <section id="catalog" class="works">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">Каталог</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            бла бла бла
                        </p>
                    </div>
                    <div class="row">
                      <% @albums.each do |album| %>
                        <div class="col-sm-3 col-xs-12">
                            <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                                <div class="img-wrapper">
                                    <%= image_tag album.image.url, :class => 'img-responsive', :alt => album.title, :title => album.title %>
                                    <div class="overlay">
                                        <div class="buttons">
                                            <%= link_to "Open", album, :rel => "gallery", :class => "fancybox", :method => :get  %>
                                        </div>
                                    </div>
                                </div>
                                <figcaption>
                                  <h4>
                                  <%= link_to album do %>
                                      <%= album.title %>
                                  <% end %>
                                  </h4>
                                </figcaption>
                            </figure>
                        </div>
                      <% end %>
                    </div>
                </div>
            </section>
            <!--
            ==================================================
            About us Section 
            ================================================== -->
            <section id="about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                                <h2>
                                О НАС
                                </h2>
                                <p>
                                    Hello, I’m a UI/UX Designer & Front End Developer from Victoria, Australia. I hold a master degree of Web Design from the World University.And scrambled it to make a type specimen book. It has survived not only five centuries
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, adipisci voluptatum repudiandae, natus impedit repellat aut officia illum at assumenda iusto reiciendis placeat. Temporibus, vero.
                                </p>
                            </div>
                            
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                                <img src="images/about/about.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section> <!-- /#about -->
            <section id="feature">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">НАШИ ПРЕИМУЩЕСТВА</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            3 причины, по которым более 200 невест выбирают студию "Flowery" каждый свадебный сезон
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-ios-flower-outline"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Уникальность</h4>
                                    <p>Мы создаем свои букеты и композиции из цветка, который сами же и выращиваем. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="600ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-cash"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Стоимость</h4>
                                    <p>Внеконкурентная стоимость всех композиций, выполненных студией флористики и дизайна"Flowery"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12">
                            <div class="media wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="900ms">
                                <div class="media-left">
                                    <div class="icon">
                                        <i class="ion-ios-time-outline"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">Свежесть</h4>
                                    <p>Сегоднешняя свежесть цветочного материала, используемого в работе мастеров "Flowery".</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- 
            ================================================== 
                School Section 
            ================================================== -->
            <section id="school">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s" >
                            <img src="images/about/school.jpg" alt="" class="img-responsive">
                        </div>
                        <div class="col-md-6">
                            <div class="block">
                                <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">Школа флористики</h3>
                                <p  class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <p  class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">
                                Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
                                </p>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!--
            ==================================================
            Blog Section Start
            ================================================== -->
            <section id="blog">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">НАШ БЛОГ</h1>
                        <p class="wow fadeInDown" data-wow-delay=".5s">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed,<br> quasi dolores numquam dolor vero ex, tempora commodi repellendus quod laborum.
                        </p>
                    </div>
                </div>
            
            <section id="blog-full-width">
                <div class="container">
                    <div class="row">
                      <% @blogs.each do |blog| %>
                        <div class="col-md-12">
                            <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                                <div class="blog-post-image">
                                    <%= link_to blog do %> 
                                            <%= image_tag blog.image.url, :class => 'img-responsive-main', alt: blog.title, title: blog.title %>
                                    <% end %>
                                </div>
                                <div class="blog-content">
                                    <h2 class="blogpost-title">
                                      <%= blog.title %>
                                    </h2>
                                    <div class="blog-meta">
                                        <span>Date</span>
                                        <span><a href="">Flowery</a></span>
                                    </div>
                                    <p>
                                      <%= blog.description.split[0..15].join(' ') %>
                                    </p>
                                    <%= link_to "Подробнее", blog, :class => "btn btn-dafault btn-details"%>
                                </div>
                            </article>
                        </div>
                      <% end %>
                      <div id="blog_main_button">
                          <%= link_to "Все статьи", blogs_path, :class => "btn-lines dark light wow fadeInUp animated smooth-scroll btn btn-default btn-green"%>
                      </div>
                    </div>
                </div>
            </section>
            </section>
