<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Flowery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- Header -->
  <%= render 'shared/header' %>

<%= yield %>
  
  <!-- Footer -->
  <%= render 'shared/footer' %>

</body>
</html>
