<!DOCTYPE html>
<html class="no-js">
<head>
  <title>Flowery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <%= favicon_link_tag 'favicon.ico' %>
  
  <!-- Google Analitics -->


  <!-- Yandex Metrica -->


  
</head>
<body>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <!-- Header -->
    <% if current_page?(root_path) %>
      <%= render 'shared/main_header' %>
    <% else %>
      <%= render 'shared/header' %>
    <% end %>

<%= yield %>
  
  <!-- Footer -->
  
    <% if current_page?(new_contact_path) %>
      <%= render 'shared/contact_footer' %>
    <% else %>
      <%= render 'shared/footer' %>
    <% end %>

</body>
</html>
